<h1>Grocery List</h1>

<div class="container">
    <div class="checkbox">
        <input type="text" id="itemname" placeholder="ItemName" [(ngModel)]="itemname">
        <input type="number" step="0.01" id="unit" placeholder="Quantity" [(ngModel)] = "unit">
        <input type="number" step="0.01" id="amount" placeholder="Amount" [(ngModel)] = "amount">
        <button type="button" (click)="clickme()">Add to Cart</button>
    
        <table>
            <thead>
              <tr>
                  <td>Item Name</td>
                  <td> Quantity </td>
                  <td> Amount </td>
                  <td> Total </td>
                  <td colspan="2">  Action </td>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let prod of product">
               
                    <td>{{prod.itemname}}</td>
                    <td>{{prod.unit}}</td>
                    <td>{{prod.amount}}</td>
                    <td>{{prod.total}}</td>
                    <td> 
                        <i class="fas fa-edit" type="button" id="Edit" (click)="Editme($event)"></i>
                        
                    </td>
                    <td> <i class="fas fa-trash-alt" type="button" (click)="Deleteme(prod)"></i></td>
                </tr>
            </tbody>
            
            <h3>Grand Total : {{grandTotal}}</h3>
        </table>
    </div>
    
</div>


